doctype html
head
  title Home | Acotar Fandom
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  link(rel='stylesheet' href='./menu.css')
.container
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    a.navbar-brand(href='#') Acotar Fandom
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='menu.html') Home
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown')
            | Books
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='acotar.html') Acotar
            .dropdown-divider
            a.dropdown-item(href='acomaf.html') Acomaf
            .dropdown-divider
            a.dropdown-item(href='acowar.html') Acowar
            .dropdown-divider
            a.dropdown-item(href='acofas.html') Acofas
            .dropdown-divider
            a.dropdown-item(href='acosf.html') Acosf
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown')
            | Characters
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='rhysand.html') Rhsyand
            .dropdown-divider
            a.dropdown-item(href='feyre.html') Feyre
            .dropdown-divider
            a.dropdown-item(href='cassian.html') Cassian
            .dropdown-divider
            a.dropdown-item(href='azriel.html') Azriel
            .dropdown-divider
            a.dropdown-item(href='nesta.html') Nesta
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown')
            | Locations
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='prythian.html') Prythian
            .dropdown-divider
            a.dropdown-item(href='velaris.html') Velaris
            .dropdown-divider
            a.dropdown-item(href='mountain.html') Under the Mountain
            .dropdown-divider
            a.dropdown-item(href='hybern.html') Hybern
        li.nav-item
          a.nav-link(href='#') Shop
  .wrapper
    .mainHeading
      h1 Home
    .Heading
      img(src='Welcome.png' alt='')
    p
      | You are welcome to the 
      b A Court of Thorns and Roses Fandom
      |  which is a website for the community of the fandom of the best selling   A Court of Thorns and Roses series
      | by  Sarah J. Maas. We aim to provide all the information about the book in one place. We would be providing information about the    
      a(href='#characters') Characters
      |  and the   
      a(href='#locations') Locations
      |  and much more.
    .wrapperHeadings
      h1(style='font-size: x-large;') About Author
    p
      | Sarah Janet Maas (born 5 March 1986) is an American fantasy author. Sarah J. Maas is the #1 New York Times bestselling author of the Throne of Glass series and A Court of Thorns and Roses(ACOTAR) series, as well as a USA Today and international bestselling author. Sarah wrote the first incarnation of the Throne of Glass series when she was just sixteen, and it has now sold in thirty-five languages. A New York native, Sarah currently lives in Pennsylvania with her husband and dog.
      | She graduated Magna Cum Laude from Hamilton College in 2008 with a degree in Creative Writing and a minor in Religious Studies.
    .Heading
      img.resize(src='Navigation.gif' alt='')
    .search
      input.search-bar(type='text' placeholder='Search...')
      button.btn.btn-dark Search
    .flex-container-categories
      .categories
        a(href='#books')
          img(src='Book_Navi.png' alt='')
      .categories
        a(href='#characters')
          img(src='Characters_Navi.png' alt='')
      .categories
        a(href='#locations')
          img(src='Locations_Navi.png' alt='')
    .flex-container-categories
    .Heading
      img#books.resize(src='The_Book_Series.gif' alt='')
    p
      | ACOTAR(A Court Of Thorns And Roses) series consists of 5 fantasy books alltogether. This Fanpage is dedicated to those 5 books in the series.
    .flex-container-books
      .books
        a(href='acotar.html')
          img(src='Acotar-0.jpg' alt='')
        a(href='')
          h3 Acotar
      .books
        a(href='acomaf.html')
          img(src='Acomaf.jpg' alt='')
        a(href='')
          h3 Acomaf
      .books
        a(href='acowar.html')
          img(src='Acowar.jpg' alt='')
        a(href='')
          h3 Acowar
      .books
        a(href='acofas.html')
          img(src='Acofas.jpg' alt='')
        a(href='')
          h3 Acofas
      .books
        a(href='acosf.html')
          img(src='Acosfcover.jpg' alt='')
        a(href='')
          h3 Acosf
    .Heading
      img.resize(src='Characters.gif' alt='')
    .flex-container-characters
      #characters.characters
        a(href='rhysand.html')
          img(src='rhysand (1).jpg' alt='')
        a(href='rhysand.html')
          h3 Rhysand
      .characters
        a(href='feyre.html')
          img(src='feyre(1).jpg' alt='')
        a(href='feyre.html')
          h3 Feyre
      .characters
        a(href='nesta.html')
          img(src='nesta.jpg' alt='')
        a(href='nesta.html')
          h3 Nesta
      .characters
        a(href='cassian.html')
          img(src='cassian.jpg' alt='')
        a(href='cassian.html')
          h3 Cassian
      .characters
        a(href='azriel.html')
          img(src='azriel.jpg' alt='')
        a(href='azriel.html')
          h3 Azriel
    #locations
      h2 Locations
      .flex-container-characters
        #characters.characters
          a(href='prythian.html')
            img(src='Prythian.png' alt='')
          a(href='prythian.html')
            h3 Prythian
        .characters
          a(href='velaris.html')
            img(src='velaris.jpg' alt='')
          a(href='velaris.html')
            h3 Velaris
        .characters
          a(href='mountain.html')
            img(src='mountain.jpg' alt='')
          a(href='mountain.html')
            h3 Under the Mountain
        .characters
          a(href='hybern.html')
            img(src='Hybern.png' alt='')
          a(href='hybern.html')
            h3 Hybern
